<div class="cardHeader">
    <h2>Recent Orders</h2>
    <input type="date" name="" class="btn" [(ngModel)]="datedebut"  name="datedebut" (input)="envoyer()" />
    <input type="date" name="" class="btn" [(ngModel)]="datefin"  name="datefin" (input)="envoyer()"  />

</div>

<table>
    <thead>
        <tr>
            <th>identifcation </th>
            <th>commande </th>
            <th>prix_commande </th>
            <th>nom_livreur </th>
            <th>livraison_livreur </th>
         <th>mon_livraison </th>
         <th>prix_net</th>
            <th>action </th>
        </tr>
    </thead>

    <tbody>
          <tr  *ngFor="let panie of panies">
            <td>{{panie.nom_client}}/{{panie.numero_client}}</td>
            <td><ul>
                <li *ngFor="let cmd of panie.panie">
                {{cmd[0]}}
                </li>
                </ul>
             </td>
            <td>{{panie.prix_total}}</td>
            <td>{{panie.nom_livreur}}</td>
             <td>{{panie.livraison_livre}}</td>
           <td>{{panie.livraison_taoufik}}</td> 

           <td>{{panie.rbah_taoufik}}</td> 


            <td><div>  <span class="status delivered" >update</span>
                <span class="status delivered" >delete</span> </div></td>
        </tr>

       

      

       

      

    
       

      
    </tbody>
</table>

