<div class="cardHeader">
  <h2>Recent Orders</h2>
  <input
    type="text"
    name=""
    class="btn"
    [(ngModel)]="valeur"
    (input)="onValeurChange()"
  />
</div>

<table>
  <thead>
    <tr>
      <td>image</td>
      <td>nom</td>
      <td>prenom</td>
      <td>email</td>
      <td>telephone</td>
      <td>quota_fixe</td>
      <td>quota_km</td>
      <td>disponibilite</td>
      <td>action</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let livreur of livreurs">
      <td></td>
      <td>{{ livreur.nom }}</td>
      <td>{{ livreur.prenom }}</td>
      <td>{{ livreur.email }}</td>
      <td>{{ livreur.numero }}</td>
      <td>{{ livreur.quota_fixe }}</td>
      <td>{{ livreur.quota_km }}</td>

      <td>
        <input
          class="form-check-input"
          type="radio"
          [name]="livreur.id_livreur"
          [value]="livreur.id_livreur"
          [checked]="livreur.disponible == '1'"
          (click)="disponible(livreur.disponible, livreur, livreur.id_livreur)"
        />
      </td>
      <td>
        <div>
          <span class="status delivered" (click)="update(livreur)">update</span>
          <span class="status delivered" (click)="delete(livreur.id_livreur)"
            >delete</span
          >
        </div>
      </td>
    </tr>
  </tbody>
</table>
