<div class="cardHeader">
    <h2>Recent Orders</h2>
    <input type="text" name="" class="btn" [(ngModel)]="valeur"  (input)="onValeurChange()"/>
</div>

<table>
    <thead>
        <tr>
            <td>logo</td>
            <td>nom_restau</td>
            <td>ville_restau</td>
            <td>tarif</td>
            <td>contact</td>
            <td>disponibilite</td>
            <td>email</td>
            <td>action</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let restau of restaus">
            <td>{{restau.logo}}</td>
            <td>{{restau.nom_restau}}</td>
            <td>{{restau.ville_restau}}</td>
            <td>{{restau.tarif}}</td>
            <td>{{restau.contact}}</td>
            <td>    <input class="form-check-input" type="radio" [name]="restau.id_restau" [value]="restau.id_restau" [checked]="restau.disponibilite=='1'" (click)="disponible(restau)" /></td>
                <td>{{restau.email}}</td>

            <td><div>  <span class="status delivered" (click)="update(restau)">update</span>
                <span class="status delivered" (click)="delete(restau.id_restau)">delete</span> </div></td>
        </tr>

       

      

       

      

    
       

      
    </tbody>
</table>

